@model ScrumApp.Models.Board

@{
    ViewData["Title"] = "Board";
}

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google" value="notranslate" />
    <title>Side Menu</title>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

</head>



@section outOfContainer{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 second-nav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">


                <ul class="navbar-nav flex-grow-1">

                    @foreach (var board in ViewBag.boards)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-route-userSlug="@board.Project.Author.UserName" asp-route-projectSlug="@board.Project.Slug" asp-route-boardSlug="@board.BoardSlug">@board.BoardName</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a id="create-board" asp-action="Create"><span class="fas fa-plus"></span>   Add Board</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

<div class="view-content full-height">
    <div class="row no-stack full-height">
        @foreach (var boardColumn in Model.BoardColumns)
        {


            <div class="col-3 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        @boardColumn.BoardColumnName
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        }
    <div class="col-2 mb-2">
        <a style="color:#343a40!important; font-weight:600" asp-route-userSlug="@Model.Project.Author.UserNameSlug" asp-route-projectSlug="@Model.Project.Slug" asp-route-boardSlug="@Model.BoardSlug" asp-controller="BoardColumn" asp-action="Create"><span class="fas fa-plus"></span>   Add Column</a>
    </div>
    </div>

</div>


