@using ScrumApp.Utilities
@model ScrumApp.Models.Board

@{
    ViewData["Title"] = "Board";
}

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google" value="notranslate" />
    <title>Side Menu</title>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

</head>



@section outOfContainer{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 second-nav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">


                <ul class="navbar-nav flex-grow-1">

                    @foreach (var board in ViewBag.boards)
                    {

                        <li class="nav-item @Html.IsBoardActive("Board", "Board", (string)board.BoardSlug)">
                            <a class="nav-link text-dark" asp-route-userSlug="@board.Project.Author.UserName" asp-route-projectSlug="@board.Project.Slug" asp-route-boardSlug="@board.BoardSlug">@board.BoardName</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a id="create-board" asp-action="Create"><span class="fas fa-plus"></span>   Add Board</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

<div class="view-content full-height">
    <div class="row no-stack full-height" id="sortable">
        @foreach (var boardColumn in Model.BoardColumns)
        {


            <div class="col-3 mb-4 this-is-cool" id="@boardColumn.BoardColumnId">
                <div class="card h-100">
                    <div class="card-header" style="font-weight:600;" id="draggable">
                        @boardColumn.BoardColumnName
                    </div>
                    <div class="card-body" style="overflow-y:auto;">
                        <!--<a style="color:#343a40!important; font-weight:600" asp-route-userSlug="@Model.Project.Author.UserNameSlug" asp-route-projectSlug="@Model.Project.Slug" asp-route-boardSlug="@Model.BoardSlug" asp-controller="Story" asp-action="Create"><span class="fas fa-plus"></span>   Add Story</a>-->
                        <a class="open" id="load_@boardColumn.BoardColumnId" style="color:#343a40!important; font-weight:600; cursor:pointer"><span class="fas fa-plus"></span>   Add Story</a>
                        <div class="hide" id="view_@boardColumn.BoardColumnId">
                            <partial name="_StoryFormPartial" model='new CreateStory { BoardColumnId = @boardColumn.BoardColumnId}'>

                        </div>
                        <div style="margin-top:1.25rem" class="story-list" id="x_@boardColumn.BoardColumnId">
                            @foreach (var x in boardColumn.Stories)
                            {
                                <div class="col-sm-12 sortable-story" style="padding:0;margin-bottom:1.25rem;margin-top:1.25rem" id="story_@x.StoryId">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title story-handle" style="cursor:pointer">@x.StoryTitle</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>

                    </div>

                </div>
            </div>
        }
        <div class="col-2 mb-2">
            <a style="color:#343a40!important; font-weight:600" asp-route-userSlug="@Model.Project.Author.UserNameSlug" asp-route-projectSlug="@Model.Project.Slug" asp-route-boardSlug="@Model.BoardSlug" asp-controller="BoardColumn" asp-action="Create"><span class="fas fa-plus"></span>   Add Column</a>
        </div>
    </div>

</div>


@section Scripts{
    <script>
        $('.story-list').sortable({
            connectWith: ".story-list",
            placeholder: "ui-state-highlight",
            forcePlaceholderSize: true,
            revert: true,
            stop: function (event, ui) {

                columnId = $(ui.item[0].parentElement).attr('id');
                storyId = $(ui.item[0]).attr('id').slice(6);

                console.log("columnId: " + columnId);

                console.log("storyId: " + storyId);


                console.log(ui.item[0].parentElement);
                console.log($('#' + columnId).find('.sortable-story'));
                var ids = $('#' + columnId).find('.sortable-story').map(function () {
                    return this.id.slice(6);
                }).get();

                let jsonString = JSON.stringify(ids);
                console.log(jsonString);

                let url = "/Story/reorder/" + columnId.slice(2);
                console.log(url);

                jQuery.ajaxSettings.traditional = true

                $.post(url, {vals: ids}, function () { });

            }

        });



        $("#sortable").sortable({
            handle: '.card-header',
            placeholder: "ui-state-highlight",
            forcePlaceholderSize:true,
            revert: true,

            update: function () {
                //let ids = $("#sortable").sortable("serialize");
                let ids = $('.this-is-cool').map(function(){
                    return this.id;
                }).get()

                let jsonString = JSON.stringify(ids);
                console.log(jsonString);

                var x = $("#sortable").serializeArray();
                console.log(x);

                let url = "/BoardColumn/reorder/"+@Model.BoardId;
                jQuery.ajaxSettings.traditional = true

                $.post(url, {vals: ids}, function () { });
            }
        });

        $('.card-body .open').click(function (evt) {
            load_id = evt.target.id;
            id = load_id.slice(5)
            view_id = "view_" + id;
            console.log(view_id);


            if ($("#" + view_id).hasClass("hide")) {
                $("#" + view_id).removeClass("hide")
                $("#" + load_id).addClass("hide")
            }
            else {
                $("#" + view_id).addClass("hide")
                $("#" + load_id).removeClass("hide")

            }

        });

        $('.form-group a').click(function (evt) {
            close_form_id = evt.target.id;
            id = close_form_id.slice(11);


            view_id = "view_" + id;
            load_id = "load_" + id;

            $("#" + view_id).addClass("hide");
            $("#" + load_id).removeClass("hide");

        });
    </script>
}