@using ScrumApp.Utilities
@using System.Web;

@model ScrumApp.Models.Board

    <div class="row no-stack full-height" style="position:relative" id="sortable">

        @foreach (var boardColumn in Model.BoardColumns)
        {


            <div class="col-2 mb-4 this-is-cool" id="@boardColumn.BoardColumnId">
                <div class="card h-100 column-style">
                    <div class="card-header column-header" style="font-weight:600;" id="draggable">
                        @boardColumn.BoardColumnName
                        <div class="hide remove-column">
                            <a class="text-dark" asp-controller="BoardColumn" asp-action="Delete" asp-route-id="@boardColumn.BoardColumnId"><i class="fa fa-times"></i></a>
                        </div>
                        
                    </div>


                    <div class="card-body inner-column-style" style="overflow-y:auto;overflow-x:hidden">

                        <div id="x_@boardColumn.BoardColumnId" class="story-list">
                            @foreach (var story in boardColumn.Stories)
                            {
                                <partial name="_StoryViewPartial" model='@story'/>
                            }
                            <p id="lala"></p>

                        </div>

                        <!--<a style="color:#343a40!important; font-weight:600" asp-route-userSlug="@Model.Project.Author.UserNameSlug" asp-route-projectSlug="@Model.Project.Slug" asp-route-boardSlug="@Model.BoardSlug" asp-controller="Story" asp-action="Create"><span class="fas fa-plus"></span>   Add Story</a>-->
                        <a class="open" id="load_@boardColumn.BoardColumnId" style="color:#343a40!important; font-weight:600; cursor:pointer"><span class="fas fa-plus"></span>   Add a story</a>
                        <div class="hide" id="view_@boardColumn.BoardColumnId">
                            <partial name="_StoryFormPartial" model='new CreateStory { BoardColumnId = @boardColumn.BoardColumnId}'>

                        </div>

                    </div>

                </div>
            </div>
        }
        <div class="col-2 mb-2">
            <a style="        color: #343a40 !important;
        font-weight: 600
" asp-route-userSlug="@Model.Project.Author.UserNameSlug" asp-route-projectSlug="@Model.Project.Slug" asp-route-boardSlug="@Model.BoardSlug" asp-controller="BoardColumn" asp-action="Create"><span class="fas fa-plus"></span>   Add Column</a>
        </div>
    </div>

