@model ScrumApp.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            <span>
                @foreach (var user in Model.UserProjects)
                {
                    @user.AppUser.UserName
                }
            </span>
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
