@model IEnumerable<ScrumApp.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h2>Projects</h2>

    <table class="table">

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="c1 inTable">
                        <a asp-route-userSlug="@item.Author.UserName" asp-route-projectSlug="@item.Slug" asp-controller="Board">@item.Author.UserName / @item.ProjectName</a>
                    </td>
                    <td class="text-right">
                        <a asp-action="Remove" asp-route-id="@item.ProjectId">Delete</a> |
                        <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a>
                    </td>
                </tr>
            }
        <tr>
            <td class="c1">
                <a asp-action="Create"><span class="fas fa-plus"></span>   Add Project</a>
            </td>
            <td></td>
        </tr>
        </tbody>

    </table>


